*.bak
*.xml
*.minted
*.log
*.out
*.aux
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.pag
*.toc
*.xdv
*.pyg
*.iml
.idea
*.gz
/vkr.pdf
/talk.pdf
*.dvi
*.fls
/.aspell*
*.synctex.gz
*.fdb_latexmk
_minted-*


# Tex Studio files
*.txss2

/Semestr_3/CourseWork_1_(degann)/out/talk.synctex(busy)
/CPS25 conference/cps2025.pdf
